*{
    margin:0;padding:0;
    box-sizing:border-box
}
header{
    width: 100%;
    height: 100vh;
    background: url(wave.png) ;
    background-position: bottom;
    background-size: 100% 20%;
    background-repeat: no-repeat;
}
nav{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
   
    border: 2px solid black;
}
.logo{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px 0px 20px 0px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left, .right{
    flex-basis: 50%;
  

}
.left h1{
 font-size: 45px;   
 margin-bottom: 30px;
 margin-top: 20px;

}
.left h1{
    max-width: 430px;
    padding-left: 70px;
    
}
.left p{
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    text-align: justify;
   
}
button{
    background-color: #9b59b6;
    border: none;
     color:white;
    padding: 20px;
    padding: 15px 32px;
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.right img{
    width: 90%;
    height: 430px;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 20px;



}